div{
    height: 50px;
    width: 50px;
    background-color: red;
}
@media  (width: 600px) {
    div{
        background-color: blue;
        width: 100px;
        height: 100px;
    }
}
@media  (min-width: 800px) {
    div{
        background-color: green;
        width: 150px;
        height: 150px;
    }
}
@media  (min-width: 900px) and (max-width: 1200px) {
    div{
        background-color: yellow;
        width: 200px;
        height: 200px;
    }
}
