div{
    height: 100px;
    width: 100px;
    background-image: url(text-nature-metal-letters-on-a-rock-in-green-forest-free-photo.webp);
    background-size: cover;
    color: white;
    position: fixed;
    right: 0px;

}