h1{
    margin: 10px;
    background-color: aqua;
    text-align: center;
}
p{
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: yellowgreen;
}
button{
color: white;
background-color: blue;
border-radius: 12px;

}
div{

    width: auto;
    height: 20px;
    border: 2px solid black;
    background-color: pink;
    border-style: dashed;
}
body{
    background-color: lightgrey;
    border: 20px solid black;
}