div{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 20px solid #ff6978;
    border-top: 20px solid #b1ede8;
    animation: spin 4s ease-in-out infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}