p {
    text-align: left ;
}
#h1 {
    text-align: center ;
    text-decoration: underline ;
    font-weight: lighter ;
}
#h2 {
    text-align: right ;
    text-decoration: overline ;
    font-weight: bold ;
}
#h3 {
    text-align: justify ;
    text-decoration: line-through ;
    font-weight: 500;
}
#one {
     font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 22px;
    }
#two {
    font-style: italic;
    text-transform: uppercase;
    font-family: 'Arial Black', Gadget, sans-serif;
}