body{
    text-align: center;
}

div{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    display: inline-block;
}

.container{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    /* align-content:space-around; */  

}

#box1{
    background-color: aqua;
    flex-shrink: 2;
    
}
#box2{
    background-color: pink;
    align-self: flex-end;

}
#box3{
    background-color: yellow;
    flex-grow: 1;
}
#box4{
    background-color: green;
}
#box5{
    background-color: red;
}