*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;

}
.logo{
    background-image: url(Amazon-Emblem-700x394.webp);
    width: 100%;
    height: 50px;
    background-size:cover;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.add-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left:20px;
}
.add-second{
    font-size: 1rem;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    align-items: center;
    margin-left: 20px;
}