#box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: pink;   
    display: grid;
    place-items: center;
    transform: rotate(45deg);
}
#container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#box:hover{
    background-color: lightcyan;
    color: goldenrod;
    font-size: 1.5em;
    transform:scale(.5);
    transition: all 1s ease-in-out; 
    /* transform:translate(200px) */
    transform:skew(45deg)
}
#box:active{
    background-color: lightgreen;


}