#box1{
    height: 200px;
    width: 200px;
    background-color: green;
    font-size: 2px;
}
#box2{
    height: 100vh;
    width: 30%;
    background-color: yellow;
    margin-left: 10%;
    font-size: 2em;
}
body{
    height: 2rem;
}