#container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}   
#box{
    position: relative; 
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: pink;   
    display: grid;
    place-items: center;
    /* animation-name: colorAnimate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-direction: alternate; */
    animation: colorAnimate 4s infinite ease-in alternate 1s;
}
@keyframes colorAnimate{
    from {
        background-color: pink;
        left:0px;
        color: black;
    }
    to{
        background-color: red;
        left:200px; 
        color: white;    
    }
}
#box:hover{
    animation-play-state: paused;
}